html {
    box-sizing: border-box;
}
*,
*:before,
*:after {
    box-sizing: inherit;
}

body {
    font-family: "Open Sans", sans-serif;
    font-weight: 400;
    background-color: #313131;
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
}

#wrapper {
    width: 250px;
    height: 400px;
    /* border: 2px solid red; */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: #000000;
    border-radius: 15px;
    box-shadow: 5px 5px 0px #808080;
}

#display-container {
    /* border: 2px solid green; */
    width: 100%;
    flex-grow: 1;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

#display {
    /* border: 2px solid violet; */
    font-size: 25px;
    color: #ffffff;
    padding-right: 25px;
}

#buttons-container {
    width: 100%;
    /* border: 2px solid blue; */
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding: 15px 0;
}

.button {
    border: none;
    font-size: inherit;
    cursor: pointer;
    width: 45px;
    height: 45px;
    border-radius: 100%;
    margin: 5px;
    color: #fcfcfc;
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn-number,
.btn-point {
    background-color: #4b4b4b;
}

.btn-operator,
.btn-equals {
    background-color: #d3940d;
}

.btn-clear {
    background-color: #aaaaaa;
}

.disabled {
    background-color: #000000;
    cursor: unset;
}
